<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="position-relative height-100">
      <div
        class="bg-white position-absolute center p-5 border border-primary rounded text-left lr-center"
      >
        <%toDoList.forEach(item => {%>
        <div class="my-3">
          <% if (item.done) {%>

          <!-- if item is done, prints a check -->
          <p class="d-inline mr-5 list-item" id="<%= item._id %>">✔</p>
          <%} else {%>
          <!-- if item is unfinished, prints an X -->
          <p class="d-inline mr-5 list-item" id="<%= item._id %>">✖</p>
          <% }%>
          <div class="fixed-w">
            <h3 class="d-inline"><%=item.activity%></h3>
          </div>
          <!-- list will be a clickable button that modifies the done property -->
          <br />
        </div>
        <%})%>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="./logic.js" async defer></script>
  </body>
</html>
